* {
  font-family: 'jetbrain';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "jetbrain";
  src: local("jetbrain"), url(../public/fonts/jetbrain.ttf) format('opentype');
}

@font-face {
  font-family: "lora";
  src: local("lora"), url(../public/fonts/lora.ttf) format('opentype');
}

.footer {
  margin-top: 15px;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}